.menu {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .menu {
    padding: 8px 24px;
  }
}

.menu h4 {
  margin: 0;
  line-height: 1.2;
  padding-left: 12px;
}
.menu li {
  list-style: none;
  font-size: 12px;
  display: flex;
  border-radius: 4px;
  padding: 4px;
}
.menu li:hover {
  background-color: var(--third);
  transition-duration: 350ms;
}
.menu li:hover a {
  color: white;
}
.menu a {
  padding: 8px;
  display: flex;
  align-items: center;
}
.menu a.highlighted {
  background-color: var(--third);
}
.menu img {
  max-width: 72px;
  /*filter: brightness(0) invert(1); */
  max-height: 52px;
  object-fit: contain;
}

a:hover .second {
  color: var(--forth);
  transition-duration: 350ms;
  cursor: pointer;
}
a:hover .third {
  color: white;
  transition-duration: 350ms;
  cursor: pointer;
}
a:hover .forth {
  color: var(--secondary);
  transition-duration: 350ms;
  cursor: pointer;
}
a:hover .white {
  color: var(--third);
  transition-duration: 350ms;
  cursor: pointer;
}

a:hover .logo {
  color: white;
  transition-duration: 350ms;
  cursor: pointer;
}

.menu a {
  cursor: pointer;
  transition-duration: 350ms;
}
