.container {
  max-width: 900px;
  margin: auto;
}
.container-wide {
  max-width: 1200px;
  margin: 48px auto;
}

section,
footer {
  padding: 80px 40px;
  position: relative;
}
@media (max-width: 1000px) {
  section,
  footer {
    padding: 48px 24px;
  }
}
.full {
  min-height: 100vh;
  box-sizing: border-box;
}
.center {
  text-align: center;
}
.flex {
  display: flex;
}

img {
  width: 100%;
}
